@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

input {
	color: black;
}

#nprogress .bar {
	background: #6024ff !important;
	height: 3px !important;
}

/* Set the thickness of the peg to 6px */
#nprogress .peg {
	box-shadow: 0 0 40px #6024ff, 0 0 30px #6024ff !important;
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

#page-sidebar-headers li {
	margin-bottom: 10px;
}

#page-sidebar-headers li.active a {
	color: #7e81ff;
}
